<mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <span>Animations</span>
</mat-toolbar>

<div class="topContainer">
    <div class="container p-3" [class.mat-elevation-z8]="true" [@openClose]="isOpen ? 'open' : 'closed'" >
        <div class="row">
            <VInput label="Email" class="col-md-12"></VInput>
        </div>
        <div class="row">
            <VInput label="Password" class="col-md-12"></VInput>
        </div>
        <button mat-raised-button color="primary" (click)="onBtnToggleClicked()" class="float-right">Animate</button>
    </div>
</div>
