<div class="d-flex flex-row" >
    <div class="p-0 leftMenu">
        <mat-card class="leftCard" [class.mat-elevation-z8]="true">
            <mat-card-header>
                <mat-card-title>Angular Crash Course</mat-card-title>
<!--                <mat-card-subtitle>Menu</mat-card-subtitle>-->
            </mat-card-header>
            <mat-card-content>
                <mat-nav-list>
                     <a mat-list-item *ngFor="let eMenuItem of menuItems" (click)="onMenuItemClicked(eMenuItem)" class="listItem"><mat-icon>{{eMenuItem.iconName}}</mat-icon> {{ eMenuItem.title }} </a>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="flex-fill" >
        <router-outlet ></router-outlet>
    </div>
</div>
