<div class="topContainer">
    <div class="container p-3" [class.mat-elevation-z8]="true" >
        <div class="row">
            <img src="../../../assets/johndeere.gif" class="img"/>
        </div>
        <div class="row">
            <mat-form-field class="col-md-12">
                <mat-label>E-mail</mat-label>
                <input matInput [(ngModel)]="email" id="Email" name="Email">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-12">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" type="password" id="Password" name="Password">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="onBtnLoginClicked()" class="float-right">Login</button>
        <div class="row">
            <div class="alert alert-danger col-md-12" role="alert" *ngIf="errorMsg" #errorDiv id="errorDiv">
                {{errorMsg}}
            </div>
        </div>
    </div>
</div>
