<div class="container">
    <p *ngIf="!skills"><em>Carregando...</em></p>
    <input class="searchInput" placeholder="Pesquisa por nome" (keydown.enter)="onSearchByName()" [(ngModel)]="searchTxt"/>
    <table class="table" *ngIf="skills">
        <thead class="thead-dark" >
        <tr class="header">
            <th (click)="sortBy('id')">Id</th>
            <th (click)="sortBy('name')">Nome</th>
            <th (click)="sortBy('level')">Nível</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let skill of skills;index as i;" class="line">
            <td>{{skill.id}}</td>
            <td>{{skill.name}}</td>
            <td>{{skill.level}}</td>
            <td (click)="onBtnEditClicked(skill)" class="myBtn">editar</td>
            <td (click)="onBtnDeleteClicked(skill)" class="myBtn">remover</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="onBtnPreviousClicked()">Anterior</a></li>
            <li class="page-item"><a class="page-link" (click)="onBtnNextClicked()">Próxima</a></li>
        </ul>
    </nav>
    <p *ngIf="loading"><em>aguarde...</em></p>
    <button class="btn btn-primary float-left" (click)="onBtnAddClicked()">Adicionar</button>
</div>


<!--DIALOG BELOW-->
<div *ngIf="showModal" class="modal fade show" style="display:block;" aria-modal="true" role="dialog" >
    <div class="modal-dialog"click-stop-propagation>
        <div class="modal-content">
            <div class="modal-body">
                <label for="Name">Nome:</label>
                <input class="form-control" type="text" id="Name" name="Name" [(ngModel)]="selectedSkill.name" />
                <label for="Level">Nível:</label>
                <input class="form-control" type="text" id="Level" name="Level" [(ngModel)]="selectedSkill.level" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" (click)="onBtnSaveClicked()">Salvar</button>
                <button type="button" class="btn" (click)="onBtnDeleteClicked(selectedSkill)">Remover</button>
                <button type="button" class="btn" (click)="showModal=false">Cancelar</button>
            </div>
        </div>
    </div>
</div>

