<mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <span>Directives</span>
</mat-toolbar>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Atribute Directives">
        <p appUnderline>Underline me!</p>
    </mat-tab>
    <mat-tab label="Structural Directives">
        <p *displayUnless="condition">condition is set to false</p>
        <p>Current condition value:{{condition}}</p>
        <button mat-raised-button color="primary" (click)="onBtnToggleClicked()" > Toggle</button>
    </mat-tab>
</mat-tab-group>

