
<div class="container">
    <p *ngIf="!users"><em>Carregando...</em></p>
    <input class="searchInput" placeholder="Pesquisa por nome" (keydown.enter)="onSearchByName()" [(ngModel)]="searchTxt"/>
    <table class="table" *ngIf="users">
        <thead class="thead-dark">
        <tr class="header">
            <th></th>
            <th (click)="sortBy('id')">Id</th>
            <th (click)="sortBy('name')">Nome</th>
            <th>Skills</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;index as i;" class="line">
                <td><img src="{{user.avatarUrl}}" class="avatar"/></td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td (click)="onbtnSkillsClicked(user)" class="myBtn">skills</td>
                <td (click)="onBtnEditClicked(user)" class="myBtn">editar</td>
                <td (click)="onBtnDeleteClicked(user)" class="myBtn">remover</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="onBtnPreviousClicked()">Anterior</a></li>
            <li class="page-item"><a class="page-link" (click)="onBtnNextClicked()">Próxima</a></li>
        </ul>
    </nav>
    <p *ngIf="loading"><em>aguarde...</em></p>
    <button class="btn btn-primary float-left" (click)="onBtnAddClicked()">Adicionar</button>
    <button class="btn btn-primary float-right" (click)="onBtnChartClicked()">Gráfico</button>
</div>


<!--DIALOG BELOW-->
<div *ngIf="showModal" class="modal fade show" style="display:block;" aria-modal="true" role="dialog" >
    <div class="modal-dialog"click-stop-propagation>
        <div class="modal-content">
            <div class="modal-body">
                <label for="Name">Nome:</label>
                <input class="form-control" type="text" id="Name" name="Name" [(ngModel)]="selectedUser.name" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" (click)="onBtnSaveClicked()">Salvar</button>
                <button type="button" class="btn" (click)="onBtnDeleteClicked(selectedUser)">Remover</button>
                <button type="button" class="btn" (click)="showModal=false">Cancelar</button>
            </div>
        </div>
    </div>
</div>




